<!DOCTYPE html>
<html lang="en">
<head>
    <title>500 - Internal Server Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='js/dashboard.js') }}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>
        body { text-align: center; font-family: Arial, sans-serif; background: #ff9f9f; }
        .container { padding: 50px; }
        h1 { font-size: 50px; color: #850000; }
        p { font-size: 20px; }
    </style>
</head>
<body>
    <div class="container">
        <h1>500</h1>
        <p>Something went wrong on our end. Try again later!</p>
        <a href="javascript:history.back()" class="return-link">Return to Previous Page</a>
    </div>
</body>
</html>
